.form {
  display: grid;
  gap: 2rem;
  position: relative;
}

.loadingOverlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  border: 0 solid;
  border-radius: 0.5rem;
  bottom: -1rem;
  display: grid;
  justify-items: center;
  left: -1rem;
  position: absolute;
  right: -1rem;
  top: -1rem;
}

.message {
  border: 0.1rem solid;
  padding: 1rem 2rem;
}

.warning {
  background-color: var(--color-warning-1);
  border-color: var(--color-warning-1-1);
  color: var(--color-warning-1-c);
}

.invalid {
  background-color: var(--color-error-1);
  border-color: var(--color-error-1-1);
  color: var(--color-error-1-c);
}

.valid {
  background-color: var(--color-success-1);
  border-color: var(--color-success-1-1);
  color: var(--color-success-1-c);
}
