.infoPanel {
  background-color: var(--color-brand-1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: var(--color-brand-1-c);
  width: 100vw;
  position: relative;
  z-index: 1;
}

.container {
  box-sizing: border-box;
  margin: 10rem auto;
  max-width: 50rem;
  padding: 3rem 1rem;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 1rem var(--color-brand-2);
}
