.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 0.5s;
  width: 100vw;
  z-index: 0;
}

.visible {
  opacity: 1;
  pointer-events: all;
}
